#main_view_menu {
    /*border: 1px solid gray;*/
    width: 95%;
    /*margin: 5px;*/
    margin-top: 20px;
    margin-left: 25px;
    /*background-color: #dddddd1f;*/
    /*border-radius: 25px;*/
}

.main_view_menu_div {
    margin-left: 10px;
}

.main_view_menu_label {
    width: 15%;
    display: inline-block;
}

/* The slider itself */
#pruning_precentage {
    width: 55%;
}

.lasso path {
    stroke: rgb(80, 80, 80);
    stroke-width: 2px;
}

.lasso .drawn {
    fill-opacity: .05;
}

.lasso .loop_close {
    fill: none;
    stroke-dasharray: 4, 4;
}

.lasso .origin {
    fill: #3399FF;
    fill-opacity: .5;
}

.embedding_points {
    stroke: gray;
    stroke-width: 1px;
}

.matrix_rect{
    stroke: black;
    stroke-width: 1px;
}

.annotation_rect{
    stroke: black;
    stroke-width: 2px;
}