.layerview_background {
    stroke: black;
    fill: white;
    fill-opacity: 0.1;
    border-radius: 25px;
}

.layer_label {
    text-anchor: middle;
}

.active_menu {
    fill: gray;
    fill-opacity: 0.1;
    stroke: black;
}

.active_menu_active {
    fill: rgb(252, 157, 33);
    fill-opacity: 0.8;
    stroke: black;
}

.active_menu_text {
    pointer-events: none;
}

.layerview_neuro {
    stroke: gray;
    stroke-opacity: 0.2;
}

.architecture_labels_rect {
    fill: white;
    stroke: gray;
}