#network_architecture_panel_menu {
    border: 1px solid gray;
    width: 95%;
    /*margin: 5px;*/
    margin-top: 20px;
    margin-left: 25px;
    background-color: #dddddd1f;
    border-radius: 10px;
}

.main_view_background{
    stroke: gray;
    fill: gray;
    fill-opacity: 0.1;
    stroke-width: 3px;
}

.architectureMenu {
    border-radius: 25px;
    fill: white;
}


.network_architecture_menu_label {
    width: 15%;
    display: inline-block;
    margin:5px;
}
