<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="//golden-layout.com/assets/js/goldenlayout.min.js"></script>
<link type="text/css" rel="stylesheet" href="//golden-layout.com/assets/css/goldenlayout-base.css" />
<link type="text/css" rel="stylesheet" href="//golden-layout.com/assets/css/goldenlayout-light-theme.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!-- D3 library-->
<script type="text/javascript" src="https://d3js.org/d3.v6.min.js"></script>

<!--lasso plugin  -->
<script type="text/javascript" src = "../static/library/lasso.js"></script>

<!-- utils-->
<script type="text/javascript" src="../static/utils/basicView.js"></script>
<script type="text/javascript" src="../static/utils/browserToServer.js"></script>
<script type="text/javascript" src="../static/utils/pubsubscribe.js"></script>


<!-- main -->
<link rel="stylesheet" href="../static/MainView/MainView.css">
<script type="text/javascript" src="../static/MainView/MainViewData.js"></script>
<script type="text/javascript" src="../static/MainView/MainView.js"></script>


<!--Summary View -->
<link rel="stylesheet" href="../static/SummaryView/SummaryView.css">
<script type="text/javascript" src="../static/SummaryView/SummaryViewData.js"></script>
<script type="text/javascript" src="../static/SummaryView/SummaryView.js"></script>


<!--Projection View -->
<link rel="stylesheet" href="../static/FeatureView/FeatureView.css">
<script type="text/javascript" src="../static/FeatureView/FeatureViewData.js"></script>
<script type="text/javascript" src="../static/FeatureView/FeatureView.js"></script>

<!--prediction summary -->
<link rel="stylesheet" href="../static/SelectedSample/SelectedSample.css">
<script type="text/javascript" src="../static/SelectedSample/SelectedSampleData.js"></script>
<script type="text/javascript" src="../static/SelectedSample/SelectedSample.js"></script>

<!-- main -->
<link rel="stylesheet" href="../static/NetworkArchitecture/ModelManager/ModelManager.css">
<script type="text/javascript" src="../static/NetworkArchitecture/ModelManager/ModelManagerData.js"></script>
<script type="text/javascript" src="../static/NetworkArchitecture/ModelManager/ModelManager.js"></script>

<!-- subnetwork -->
<link rel="stylesheet" href="../static/NetworkArchitecture/ModelOverview/ModelOverview.css">
<script type="text/javascript" src="../static/NetworkArchitecture/ModelOverview/ModelOverviewData.js"></script>
<script type="text/javascript" src="../static/NetworkArchitecture/ModelOverview/ModelOverview.js"></script>

<!-- Network Architecture -->
<link rel="stylesheet" href="../static/NetworkArchitecture/Layer/Layerview.css">
<script type="text/javascript" src="../static/NetworkArchitecture/Layer/LayerViewData.js"></script>
<script type="text/javascript" src="../static/NetworkArchitecture/Layer/LayerView.js"></script>

<link rel="stylesheet" href="../static/NetworkArchitecture/NetworkArchitecture.css">
<script type="text/javascript" src="../static/NetworkArchitecture/NetworkArchitectureData.js"></script>
<script type="text/javascript" src="../static/NetworkArchitecture/NetworkArchitecture.js"></script>

<!-- index -->
<link rel="stylesheet" href="../static/index/index.css">
<script type="text/javascript" src="../static/index/layout-config.js"></script>
<script type="text/javascript" src="../static/index/index.js"></script>
